<a href="https://colab.research.google.com/github/alfianaxikka-ops/alfiana-Xl.1/blob/main/1_Fungsi_print_Alfiana_Xl_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Menampilkan Teks Bebas

In [ ]:
print("halo dunia")

halo dunia

In [ ]:
print("selamat datang di python")

selamat datang di python

In [ ]:
print("Alfiana Ni'matul Ulya")

Alfiana Ni'matul Ulya

#Menampilkan Nilai Variabel

In [ ]:
BB = 50
print(BB)

50

In [ ]:
UMUR = 16
print(UMUR)

16

In [ ]:
nama = "Alfiana Ni'matul Ulya"
print(nama)

Alfiana Ni'matul Ulya

# Menampilkan Variabel dan Teks Benas

In [ ]:
print(f"umur saya {UMUR} tahun")

umur saya 16 tahun

In [ ]:
print("halo " + nama)

halo Alfiana Ni'matul Ulya

#Menampilkan Teks Bebas dan Variabel

In [ ]:
harga_telur = 26000
print("Harga telur per 1 kg adalah", harga_telur)

Harga telur per 1 kg adalah 26000

In [ ]:
harga_telur = 26000
print("Harga telur per 1 kg adalah " + str(harga_telur))

Harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli = "Alfiana"
print("Nama pembeli telur adalah " + nama_pembeli)

Nama pembeli telur adalah Alfiana

Latihan soal

1.Tampilkan teks bebas: Hari ini saya bahagia belajar bahasa python
2.Tampilkan nilai variabel: mata_pelajaran_favorit = Kode dan Kecerdasan Buatan
3.Tampilkan nilai variabel: nilai_kka = 100
4.Tampilkan teks bebas dan nilai variabel tiga mode (f string, "+", ","): Nilai KKA saya adalah {nilai_kka}loh!"

In [18]:
print("Hari ini saya bahagia belajar python")

Hari ini saya bahagia belajar python

In [19]:
mata_pelajaran_favorit = "Kode dan Kecerdasan Buatan"
print(mata_pelajaran_favorit)

Kode dan Kecerdasan Buatan

In [20]:
nilai_kka = 100
print(nilai_kka)

100

In [22]:
print(f"Nilai KKA saya adalah {nilai_kka} loh!")

Nilai KKA saya adalah 100 loh!

In [23]:
print("Nilai KKA saya adalah " + str(nilai_kka) + " loh!")

Nilai KKA saya adalah 100 loh!

In [24]:
print("Nilai KKA saya adalah ", nilai_kka, "loh!")

Nilai KKA saya adalah  100 loh!

#Escape Chatacter

In [26]:
print("Nama: Alfiana Ni'matul Ulya")
print("Kelas: Xl.1")
print("Nomor Absen: 03")

Nama: Alfiana Ni'matul Ulya
Kelas: Xl.1
Nomor Absen: 03

In [27]:
print("Nama\t\t: Alfiana Ni'matul Ulya\nKelas\t\t: Xl.1\nNomor Absen\t: 03")

Nama		: Alfiana Ni'matul Ulya
Kelas		: Xl.1
Nomor Absen	: 03

In [28]:
print("""Nama: Alfiana Ni'matul Ulya
Kelas: Xl.1
Nomor Absen: 03""")

Nama: Alfiana Ni'matul Ulya
Kelas: Xl.1
Nomor Absen: 03

In [29]:
print('ja\'far shodiq')

ja'far shodiq

In [30]:
print("ja\'far shodiq")

ja'far shodiq

In [32]:
print("Bu Shinta berkata, \"Semua harus menyimak pelajaran.\"")

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [33]:
print('Bu Shinta berkata, "Semua harus menyimak pelajaran."')

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [41]:
print("Lokasi file video karnaval ada di D:\Karnaval 2025\mp4")

Lokasi file video karnaval ada di D:\Karnaval 2025\mp4

<>:1: SyntaxWarning: invalid escape sequence '\K'
<>:1: SyntaxWarning: invalid escape sequence '\K'
/tmp/ipython-input-2952592184.py:1: SyntaxWarning: invalid escape sequence '\K'
  print("Lokasi file video karnaval ada di D:\Karnaval 2025\mp4")

#Parameter Fungsi Print

In [42]:
Tahun = 2010
Bulan = "Maret"
Tanggal = 11

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun, end=" ")

11 Maret 2010

In [43]:
Tahun = 2010
Bulan = "Maret"
Tanggal = 11

print(Tanggal, Bulan, Tahun, sep="/")

11/Maret/2010

Latihan:

Tangga-Bulan-Tahun

In [44]:
Nama_depan = "Alfiana"
Nama_belakang = "Ni'matul Ulya"

print(Nama_depan, Nama_belakang)

Alfiana Ni'matul Ulya

In [45]:
Nama_depan = "Alfiana"
Nama_belakang = "Ni'matul Ulya"

print(Nama_depan, end=" ")
print(Nama_belakang)

Alfiana Ni'matul Ulya

# Tugas Jadwal Pelajaran

In [55]:
print('Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa Rabu silahkan disimpan di laptop masing-masing di folder local disck D:\jadwal pelajaran\Kelas Xl semester 1."')

print("\njadwal pelajaran Mingguan")
print("===========================================")
print("jam\tSenin\t\tSelasa\t\tRabu")
print("jam 1\tMatematika\tBahasa\t\tInformatika")
print("jam 2\tBahasa Ingg.\tSejarah\t\tMa'rifatullah")
print("jam 3\tInformatika\tOlahraga\tBiologi")

Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa Rabu silahkan disimpan di laptop masing-masing di folder local disck D:\jadwal pelajaran\Kelas Xl semester 1."

jadwal pelajaran Mingguan
===========================================
jam	Senin		Selasa		Rabu
jam 1	Matematika	Bahasa		Informatika
jam 2	Bahasa Ingg.	Sejarah		Ma'rifatullah
jam 3	Informatika	Olahraga	Biologi

<>:1: SyntaxWarning: invalid escape sequence '\j'
<>:1: SyntaxWarning: invalid escape sequence '\j'
/tmp/ipython-input-2577223173.py:1: SyntaxWarning: invalid escape sequence '\j'
  print('Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa Rabu silahkan disimpan di laptop masing-masing di folder local disck D:\jadwal pelajaran\Kelas Xl semester 1."')

In [48]:
nama_siswa_1 = "Naufal"
nama_siswa_2 = "Favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Favian"

print(nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_4, sep="~")

Naufal~Favian~Humaira~Favian

In [49]:
nama_siswa_1 = "Naufal"
nama_siswa_2 = "Favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Favian"

print(nama_siswa_1, end="~")
print(nama_siswa_2 )
print(nama_siswa_3, end="~")
print(nama_siswa_4)

Naufal~Favian
Humaira~Favian